{{#if session.isLogged}}
<form>
    <div class="form-group">
        <label for="task">Comment Message</label>
      {{tinymce-editor class="form-control ht150" value=commentMessage onValueChanged=(action "myOnChangedAction")}}
    </div>
    <button class="btn btn-default" type="submit" {{action "createComment"}}>Submit Comment</button>
</form>
{{/if}}