@import "bootstrap";

body {
  padding-top: 20px;
}

.bg-black{
  background-color: #151515;
}

.ht300{
 height: 300px !important;
}

.left{
  width:50%;
  float:left;
}

.right{
  width:50%;
  float:left;
  padding-left:10px;
}

.clr{
  clear:both;
}

.green{
  color: #3c763d;
}

.red{
  color: #a94442;
}

.btns{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.btns:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}
